@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #ad1fea;
  --blue: #4661e6;
  --pink: #f49f85;
  --seaBlue: #62bcfa;
  --darkGrey: #373f68;
  --darkGreyMid: #3a4374;
  --darkGreyLight: #647196;
  --lightGreyMid: #f2f4ff;
  --lightGrey: #f7f8fd;
}

* {
  font-family: "Jost", sans-serif;

  scrollbar-width: thin;
  scrollbar-color: var(--darkGrey) var(--lightGrey);
}

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: var(--lightGrey);
}

*::-webkit-scrollbar-thumb {
  background: var(--darkGrey);
}

/* @layer components {
  .ce-chat-list-column {
    @apply hidden md:block md:w-30% flex-list-lg md:max-w-30% !important;
  }

  .ce-chat-feed-column {
    @apply w-full max-w-full flex-feed-sm md:flex-feed-lg md:w-70% md:max-w-70% !important;
  }

  .ce-wrapper {
    @apply overflow-hidden !important;
  }
} */

.ce-chat-list-column {
  display: none;
}

@media (min-width: 768px) {
  .ce-chat-list-column {
    width: 30% !important;
    max-width: 30% !important;
    flex: 0 0 30% !important;
  }
}

.ce-chat-feed-column {
  width: 100% !important;
  max-width: 100% !important;
  flex: 0 0 100% !important;
}

@media (min-width: 768px) {
  .ce-chat-feed-column {
    width: 70% !important;
    max-width: 70% !important;
    flex: 0 0 70% !important;
  }
}

.ce-settings-column {
  display: none !important;
  width: 0 !important;
}

.ce-wrapper {
  overflow: hidden !important;
}
